.main{
    padding: 3cm;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.div{
    /* background-color: #252525; */
    background-image: url('../../Assets/background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
        background-position: center;
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.title{
    text-align: center;
}
Button:hover{
background-color: whitesmoke !important;
color: #252525;
}

@media only screen and (max-width:750px) {
    .main{
        padding: 0;
        background-color: rgba(199, 196, 196, 0.9) !important;
        /* border: 2px dotted #222222; */

       

    }
    .title{
        text-align: center;
        margin-top: 2cm;
    }
}